* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  background: #fff;
}

nav .nav-wrapper a {
  color: black;
}

nav .brand-logo {
  width: 176px;
  height: 51px;
  margin-left: 66px;
}

.icon-sacola {
  width: 4%;
}

.sistema {
  display: flex;
  justify-content: flex-end;
  width: 88%;
  background: #68a79f;
  padding: 1% 2%;
  width: 100%;
}


.sistema button {
  color: #fff;
  background: transparent;
  border: 1px solid #68a79f;
}

button#btnEntrar_home {
  margin-right: 1%;
}

button#btnCadastrar_home {
  margin-right: 8%;
}

.icon-sacola img {
  width: 10%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.slide-banner {
  margin-bottom: 60px;
  margin-top: 40px;
}

.slide-banner img {
  width: 100%;
}

.bloco-divisor {
  display: inline;
  background: #99cc58;
  padding: 5px;
}

.linha {
  border-bottom: 5px solid #99cc58;
}

.sobre-home {
  display: flex;
}
.fotos-sobre {
  margin: 20px 0 20px 0;
  flex: 1;
}
.fotos-sobre img {
  width: 90%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.texto-sobre {
  flex: 1;
  margin: 20px 0 20px 0;
}

.texto-sobre h2 {
  padding-bottom: 15px;
  font-size: 30px;
}

.texto-sobre h4 {
  padding-bottom: 20px;
  color: #99cc58;
  font-size: 18px;
}

.texto-sobre p {
  padding-bottom: 20px;
}

.texto-sobre button {
  background: #68a79f;
  color: #fff;
  width: 278px;
  height: 51px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.blog-home {
  display: flex;
  flex-direction: column;
}

.fotos-blog-home {
  margin: 20px 20px 20px 0;
  width: 30%;
}

.fotos-blog-home img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-blog {
  display: flex;
}

.texto-blog {
  flex: 1;
  margin: 20px 0 20px 0;
}

.texto-blog h2 {
  padding-bottom: 15px;
  font-size: 18px;
}

.texto-blog p {
  color: #99cc58;
  padding-bottom: 15px;
  font-size: 15px;
}

.texto-blog button {
  background: #68a79f;
  color: #fff;
  width: 110px;
  height: 51px;
  border-radius: 10px;
  border: none;
  float: right;
  cursor: pointer;
}

.destaques-loja {
  background: #99cc58;
  width: 100%;
  margin-bottom: 130px;
  padding-bottom: 5px;
}

.produtos-loja h1 {
  padding: 30px 0 10px 0;
  font-size: 30px;
  width: 70%;
  margin: 0 auto;
}

.produtos-loja h2 {
  padding-bottom: 30px;
  font-size: 14px;
  width: 70%;
  margin: 0 auto;
}

.produtos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 53%;
  margin: 0 auto;
}

.item {
  width: 20%;
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  padding: 23px;
  text-align: center;
}

.item img {
  width: 100%;
}

.item h5 {
  padding-bottom: 10px;
}

.item p {
  font-size: 14px;
  color: #99cc58;
}

.item button {
  background: #99cc58;
  color: #fff;
  border: none;
  padding: 13%;
  margin: 5%;
  border-radius: 4px;
  cursor: pointer;
}

.produtos-loja button.btn {
  background: #fff;
  color: #99cc58;
  border: none;
  padding: 17px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 17px;
  margin-top: 5px;
  cursor: pointer;
}

.convite-cadastro {
  margin: 20px 0 20px 0;
}

#novidades {
  text-align: -webkit-center;
}

.novidades-cadastro {
  width: 350px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px 0 0;
}

.novidades-btn {
  background: #68a79f;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 15px 0 45px 0;
  width: 180px;
  cursor: pointer;
  display: grid;
}

.footer-1 {
  display: flex;
  background: #d0d0d0;
  height: 100%;
}

.footer-2 {
  background: #8e8e8e;
  height: 100%;
  text-align: center;
}

.footer-2 p {
  padding: 6px;
  color: #fff;
  font-size: 12px;
}

.logo-e-descr {
  width: 100%;
  margin: 3%;
  padding: 1%;
  flex: 1;
}

.blocos-rodape {
  width: 92%;
  margin-top: 4%;
  padding-top: 1%;
  flex: 1;
  text-align: justify;
}

.logo-e-descr img {
  width: 100%;
}

.logo-e-descr p {
  font-size: 12px;
  padding-left: 13px;
}

.blocos-rodape a {
  text-decoration: none;
  color: black;
}

.blocos-rodape p {
  font-size: 12px;
  margin: 4px 0;
}

.blocos-rodape img {
  width: 75%;
  margin-top: 3%;
}

/* PÁGINA CONTATO */
.mens-contato h1 {
  margin: 30px 0 25px 0;
  text-align: center;
  font-size: 18px;
}

#cont-contato {
  display: grid;
  text-align: -webkit-center;
}
.c-contato {
  width: 300px;
  height: 25px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

#cont-contato textarea {
  height: 200px;
  width: 300px;
  text-align: center;
  border-radius: 5px;
}

.c-contato-btn {
  background: #68a79f;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 15px 0 45px 0;
  width: 180px;
  cursor: pointer;
}

/* LOGIN*/

.mens-login h1 {
  margin: 60px 0 15px 0;
  text-align: center;
}

.mens-login p {
  font-size: 12px;
  text-align: center;
  margin: 0 0 20px 0;
}

.mens-login a {
  text-decoration: none;
  font-weight: bolder;
}

#login-entrar {
  display: grid;
  text-align: -webkit-center;
}

#login-entrar p {
  font-size: 10px;
}
.entrar {
  width: 280px;
  height: 30px;
  text-align: center;
  margin-bottom: 7px;
}

.entrar-btn {
  background: #68a79f;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 15px 0 45px 0;
  width: 180px;
  cursor: pointer;
}

/* CADASTRO*/
.mens-cadastro h1 {
  margin: 60px 0 0 0;
  text-align: center;
}

.mens-cadastro p {
  margin: 13px 0 25px 0;
  text-align: center;
  font-size: 13px;
}

#cadastro {
  display: grid;
  text-align: -webkit-center;
}

#cadastro p {
  font-size: 13px;
}

.cadastrar {
  width: 260px;
  height: 30px;
  text-align: center;
  margin-bottom: 7px;
}

.cadastrar-btn {
  background: #68a79f;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 15px 0 45px 0;
  width: 180px;
  cursor: pointer;
}


/* Responsivo*/
@media (max-width: 600px) {
  #header-menu {
    display: inline-block;
    height: auto;
    width: 97%;
  }

  #header-menu a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #header-menu a img {
    width: 100%;
  }

  #menu {
    display: flex;
    justify-content: center;
  }

  .logo-menu {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .icon-sacola {
    display: none;
  }

  .sistema nav {
    justify-content: space-between;
  }

  .fotos-sobre img {
    display: none;
  }

  .produtos {
    flex-flow: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .produtos-loja button.btn {
    padding: 14%;
    font-size: 100%;
    margin: 0 auto;
  }

  .item {
    width: 30%;
  }
  .blocos-rodape {
    text-align: center;
  }

}
